table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
   
}

th, td {
    width: 25px;
    height: 25px;
}

.activated {
    background-color: aqua;
}

.nonactivated {
    background-color: white;
}

#container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    gap: 10px;
}