body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(131, 131, 141);
}

.heading{
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Roboto', sans-serif;  
    font-size: 75px;
   

}

#subHeading{
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Roboto', sans-serif; 
    font-weight: 300;
    margin-bottom: 15px;
}

.mainContent {
    display: flex;
}




.grid {
    display: inline-grid;
    border: 4px solid black;
    border-radius: 15px;

    height: 650px;
    width: 650px;
    margin-bottom: 20px;
}

#colorMemoryWrapper {
    display: flex;
}
#colorMemory {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: 20px;
    margin-top: 20px;
    width:350px;
    flex-wrap: wrap;

}

#colorMemory button {
    
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Roboto', sans-serif;  
    border-radius: 10px;
    height: 50px;
    padding: 25px;
    min-width: 50px;
    min-height: 25px;
    text-align: center;
    padding: 1px;
    font-size: 10px;

}

#color-reset-button{
    display: flex;
    width: 325px;
    align-items: center;
    justify-content: center;
}


.cell {
    border: 1px solid black;
    background-color: white;
    border-radius: 8px;
    }

.colorChoices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.colorChoices button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    min-height: 55px;
    width: 85px;
    font-size: 15px;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Roboto', sans-serif;  

}

#colorPicker {
    width:85px;
    min-height: 55px;
}

#rangeSlider {
    width: 500px;
}

    @media all and (max-width:600px){
.grid {
    height: 300px;
    width: 300px; 
    margin-bottom: 20px;
}

.heading {
    font-size: 40px;
}

#subHeading {
font-size: 11px;
}

.colorChoices{
    gap:1px
}

.colorChoices button {
    font-size: 10px;
    width: 50px;
}

#rangeSlider{
    width: 350px;
}

#colorPicker{
    width: 50px;
}
    }
